In [2]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Spark Hive Int").config("spark.some.config.option","some-value").enableHiveSupport().getOrCreate()

In [18]:
spark.sql("create table if not exists aj.saleshive (custid string,orderid string,orderdate string,shipdate string,shipclass string,profit float, tax float, total float) row format delimited fields terminated by ','")

DataFrame[]

In [19]:
spark.sql("LOAD DATA INPATH 'hdfs://nameservice1/user/edureka_252252/edureka_252252/sales.csv' INTO TABLE aj.saleshive")

DataFrame[]

In [20]:
spark.sql("SELECT * from aj.saleshive limit 5").show()

+------+--------------+-------------------+-------------------+--------------+------+---+------+
|custid|       orderid|          orderdate|           shipdate|     shipclass|profit|tax| total|
+------+--------------+-------------------+-------------------+--------------+------+---+------+
|     1|CA-2011-100006|2013-09-07 00:00:00|2013-09-13 00:00:00|Standard Class|109.61|3.0|377.97|
|     2|CA-2011-100090|2013-07-08 00:00:00|2013-07-12 00:00:00|Standard Class|-19.09|9.0|699.19|
|     3|CA-2011-100293|2013-03-14 00:00:00|2013-03-18 00:00:00|Standard Class| 31.87|6.0| 91.06|
|     4|CA-2011-100328|2013-01-28 00:00:00|2013-02-03 00:00:00|Standard Class|  1.33|1.0|  3.93|
|     5|CA-2011-100363|2013-04-08 00:00:00|2013-04-15 00:00:00|Standard Class|  7.72|5.0| 21.38|
+------+--------------+-------------------+-------------------+--------------+------+---+------+

In [22]:
df = spark.sql("SELECT orderid,shipdate,shipclass from aj.saleshive limit 5")

In [23]:
df.write.saveAsTable("aj.shippinginfo")

In [29]:
df.write.parquet("shippinginfoPARQUET1")

In [33]:
df.write.orc("shippinginfoORC1")